# Rename this file to .env and remove these quoted lines if you intend to use it
# See set.js on how to set values
PREFIX=.
SESSION_ID=Gifted~PupSWbBC#SxspQ1qo5EE5U9faSsf-PNuCqv0Mc_H-hsegvGU_2U8
BOT_NAME=𝐆𝐈𝐅𝐓𝐄𝐃-𝐌𝐃
BOT_PIC=https://i.imgur.com/ZfFRRmZ.jpeg
AUTO_READ_STATUS=false
AUTO_LIKE_STATUS=false
AUTO_LIKE_EMOJI=💜
AUTO_REPLY_STATUS=false
STATUS_REPLY_MSG=🥀!
ANTICALL=false
ANTICALL_MSG=*_📞 Auto Call Reject Mode Activated by Gifted-Md. 📵 No Calls Allowed Dude!_*
MODE=private
WELCOME=false
GOODBYE=false
AUTO_READ_MESSAGES=false
PRESENCE=null
OWNER_NAME=𝗔𝗪𝗔𝗜𝗦-𝗠𝗗
OWNER_NUMBER=923189492995
SUDO_NUMBERS=923189492995,923043350457
AUTO_AUDIO=false
BAD_WORDS=fuck,pussy,anus,idiot
ANTIBAD=false
AUTO_BIO=false
AUTO_BIO_QUOTE=🥰
CHAT_BOT=false
AUTO_BLOCK=212,98,77
AUTO_REACT=false
PACK_NAME=💜
PACK_NAME=𝗔𝗪𝗔𝗜𝗦-𝗠𝗗
TIME_ZONE=Africa/Nairobi
